@inherits LayoutComponentBase

<div class="row overflow-hidden m-0">
    <div class="d-none d-md-block col-md-3 vh-100 bg-primary p-0">
        <div class="d-flex justify-content-center align-items-center h-100 w-100">
            <div class="text-white fs-1">
                <span>Cervione</span>
            </div>
        </div>
    </div>

    <div class="col-md-9 vh-100 p-0">
        @Body
    </div>
</div>

